{
  "input": {
    "images": [
      {
        "name": "{image_name}",
        "image": "{image_url}"
      }
    ],
    "workflow": {
      "1": {
        "inputs": {
          "clip_name": "umt5_xxl_fp8_e4m3fn_scaled.safetensors",
          "type": "wan",
          "device": "default"
        },
        "class_type": "CLIPLoader",
        "_meta": {
          "title": "Load CLIP"
        }
      },
      "4": {
        "inputs": {
          "samples": [
            "44",
            0
          ],
          "vae": [
            "7",
            0
          ]
        },
        "class_type": "VAEDecode",
        "_meta": {
          "title": "VAE Decode"
        }
      },
      "6": {
        "inputs": {
          "text": "{negative_prompt}",
          "clip": [
            "1",
            0
          ]
        },
        "class_type": "CLIPTextEncode",
        "_meta": {
          "title": "CLIP Text Encode (Negative Prompt)"
        }
      },
      "7": {
        "inputs": {
          "vae_name": "wan_2.1_vae.safetensors"
        },
        "class_type": "VAELoader",
        "_meta": {
          "title": "Load VAE"
        }
      },
      "10": {
        "inputs": {
          "width": 832,
          "height": 480,
          "length": 81,
          "batch_size": 1,
          "positive": [
            "13",
            0
          ],
          "negative": [
            "6",
            0
          ],
          "vae": [
            "7",
            0
          ],
          "start_image": [
            "15",
            0
          ]
        },
        "class_type": "WanImageToVideo",
        "_meta": {
          "title": "WanImageToVideo"
        }
      },
      "13": {
        "inputs": {
          "text": "{input_prompt}",
          "clip": [
            "1",
            0
          ]
        },
        "class_type": "CLIPTextEncode",
        "_meta": {
          "title": "CLIP Text Encode (Positive Prompt)"
        }
      },
      "14": {
        "inputs": {
          "image": "{image_name}"
        },
        "class_type": "LoadImage",
        "_meta": {
          "title": "Load Image"
        }
      },
      "15": {
        "inputs": {
          "image": [
            "14",
            0
          ],
          "width": 832,
          "height": 480,
          "upscale_method": "lanczos",
          "keep_proportion": true,
          "divisible_by": 16
        },
        "class_type": "ImageResizeKJ",
        "_meta": {
          "title": "Resize Image"
        }
      },
      "16": {
        "inputs": {
          "frame_rate": 18,
          "loop_count": 0,
          "filename_prefix": "Wan22",
          "format": "video/h264-mp4",
          "pix_fmt": "yuv420p",
          "crf": 20,
          "save_metadata": false,
          "trim_to_audio": false,
          "pingpong": false,
          "save_output": true,
          "images": [
            "4",
            0
          ]
        },
        "class_type": "VHS_VideoCombine",
        "_meta": {
          "title": "Video Combine 🎥🅥🅗🅢"
        }
      },
      "34": {
        "inputs": {
          "unet_name": "wan2.2_i2v_high_noise_14B_Q8_0.gguf"
        },
        "class_type": "UnetLoaderGGUF",
        "_meta": {
          "title": "Unet Loader (GGUF) High"
        }
      },
      "44": {
        "inputs": {
          "boundary": 0.9,
          "seed": {seed},
          "steps": 4,
          "cfg_high_noise": 1,
          "cfg_low_noise": 1,
          "sampler_name": "euler",
          "scheduler": "simple",
          "sigma_shift": 8,
          "denoise": 1,
          "model_high_noise": [
            "70",
            0
          ],
          "model_low_noise": [
            "72",
            0
          ],
          "positive": [
            "10",
            0
          ],
          "negative": [
            "10",
            1
          ],
          "latent_image": [
            "10",
            2
          ]
        },
        "class_type": "WanMoeKSampler",
        "_meta": {
          "title": "Wan MoE KSampler"
        }
      },
      "62": {
        "inputs": {
          "unet_name": "wan2.2_i2v_low_noise_14B_Q8_0.gguf"
        },
        "class_type": "UnetLoaderGGUF",
        "_meta": {
          "title": "Unet Loader (GGUF) Low"
        }
      },
      "70": {
        "inputs": {
          "model_type": "wan2.1_i2v_720p_14B_ret_mode",
          "rel_l1_thresh": 0.2,
          "start_percent": 0.1,
          "end_percent": 1,
          "cache_device": "cuda",
          "model": [
            "34",
            0
          ]
        },
        "class_type": "TeaCache",
        "_meta": {
          "title": "TeaCache"
        }
      },
      "72": {
        "inputs": {
          "model_type": "wan2.1_i2v_720p_14B_ret_mode",
          "rel_l1_thresh": 0.2,
          "start_percent": 0.1,
          "end_percent": 1,
          "cache_device": "cuda",
          "model": [
            "62",
            0
          ]
        },
        "class_type": "TeaCache",
        "_meta": {
          "title": "TeaCache"
        }
      }
    }
  }
}
