name: Deploy to Linode

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # Allows manual triggering from the Actions tab

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy using SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: 22
        script: |
          # Navigate to app directory
          cd /var/www/app

          # Pull latest changes
          git pull origin main

          # Install dependencies
          npm ci
          npx prisma generate
          # Build the SvelteKit app
          npm run build

          # Restart the PM2 process
          pm2 reload svelte-server || pm2 start .svelte-kit/output/server/index.js --name svelte-server
